{% extends 'cv/base.html' %}
{% load static %}
{% block content %}
    <div class="container mt-5">
        <div class="row d-flex flex-column-reverse flex-lg-row h-auto">
            <div class="col-lg-3 white-block p-4 text-center h-auto">
                <div style="font-size: 20px; font-weight: 500; color: #c29d6a;">Основная информация</div>
                <div class="fw-bold mt-3">ФИО</div>
                <div class="fw-light mt-1">Крючков Илья Андреевич</div>
                <div class="fw-bold mt-3">Желаемая должность:</div>
                <div class="fw-light mt-1">Python Backend Developer;</div>
                <div class="fw-light mt-1">FLutter Developer;</div>
                <div class="fw-light mt-1">Web Frontend Developer;</div>
                <div class="fw-bold mt-4">Дата рождения</div>
                <div class="fw-light mt-1">25 декабря 2001 г.</div>
                <div class="fw-bold mt-4">Место проживания</div>
                <div class="fw-light mt-1">Россия, г. Москва, Ленинский проспект, д. 156</div>
            </div>
            <div class="col-lg-9 mb-3 mb-lg-0 px-0 ps-lg-3">
                <div class="d-flex bordered-block h-100">

                    <!--<div class="col-4 h-100 py-4 px-4" ><img style="max-width: 100%; height: auto" src="% static 'cv/img/me.jpeg' %}"></div> -->

                    <div class="col-12 p-4 h-100 py-4 pe-4" >
                        <div style="font-weight: 600; font-size: 40px;">Крючков Илья,</div>
                        <div style="font-weight: 600; font-size: 40px;">19 лет</div>
                        <div class="mt-5" style="font-size: 15px; font-weight: 400; color: #746b64;">В данный момент я являюсь студентом Российского Университета Дружбы Народов. Свое свободное время я стараюсь проводить как можно более продуктивно, именно поэтому я трачу большое количество времени на улчушении своих навыков в программировании. Я так же очень заинтересован в сфере торговли ценными бумагами и уже год веду торговлю и изучаю большое множетсов различных обучающих материалов на эту тему.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 h-auto">
            <div class="col-12 white-block p-4 text-center h-auto">
                <div style="font-size: 20px; font-weight: 500; color: #c29d6a;">Мои Навыки</div>
                <div class="row mt-4">
                    <div class="d-md-flex justify-content-between">
                        <div class="col-md-5">
                            <div class="fw-bold mt-3">Языки</div>
                            <div class="fw-light mt-1">Русский, Английский (C1)</div>
                            <div class="fw-bold mt-3">Образовнаие</div>
                            <ul>
                                <li><div class="fw-light mt-2">Успешно прошел международную стажировку в компании LLC "Specta Interpack", в результате которой подробно узнал о всех аспектах работы крпуного бизнеса (присутствует сертификат)</div></li>
                                <li><div class="fw-light mt-2">Обучаюсь на втором курсе на инженера в Российском Университете Дружбы Народов</div></li>
                            </ul>
                        </div>
                        <div class="col-md-5">
                            <div class="fw-bold mt-3">Программирование</div>
                                <div class="fw-light mt-2">Уверенная работа с <span style="font-weight: 400">Django 3+, Python, HTML, CSS, BootStrap, Javascript, FLutter;</span></div>
                                <div class="fw-light mt-1">Для работы с дизайном использую Adobe Xd</div>
                            <div class="fw-bold mt-4">Опыт работы переводчиком</div>
                            <ul>
                                <li><div class="fw-light mt-2">Перевод статей на тему маркетинга на заказ (фриланс)</div></li>
                                <li><div class="fw-light mt-2">Полгода успешной работы пеерводчиком в бюро переводов с нотариальным заверением</div></li>
                                <li><div class="fw-light mt-2">На настощее время работаю с переводами финансовой и юридической документации в компании LLC "Specta Interpack"</div></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
