<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="title" content="How does facial recognition work?">

    <meta name="description" content="Each facial recognition system use biometrics to get all your facial features and then compare them to faces it has in database. But how does this work?">

    <meta name="keywords" content="unlock, application, software, recognition">

    <meta name="robots" content="index, follow">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta name="language" content="English">


</head>
<body>
    <div style="margin: 0 auto; padding-top: 2%;  padding-left: 15%; padding-right: 20%">
        <h1>How does facial recognition works?</h1>
        <p>Many of us use face recognition to unlock our phones, but how does this work? Things like Face ID
            are face recognition applications, which recognize only your face. It works as simple as that: Face ID,
            or any other application, recognizes only your face and lets only you unlock your phone. It means, that
            software doesn’t store all the faces it has scanned, it just scans your face and compares your
            face to the others. Let’s dive a little bit deeper to know, how does the
            system behind the applications work.
        </p>
        <p>Face recognition starts when the application tries to locate your face. To do this, it projects
            dots on your face to find your eyes, nose, and mouth. All the systems use a different amount of
            dots: for simple face recognition on photos, there can be 7 dots, for Face ID or other similar
            systems there are thousands of them. Usually, the application will recognize your face only in
            a vertical position, especially if there are a lot of dots used. The number of dots depends on
            what the final purpose of the app is: to find all the faces on the photo to know how many people
            there are, or tell exactly whose face is there. Face ID, for example, uses 30,000 dots to define
            your face, and all of them represent software your curves, wrinkles, and other facial features.
            During the initial setup of face unlock systems, it transforms your set of dots to a 2D form, that it is
            used as a master key thereafter. From that moment on, the application compares
            what it sees to this master key
        </p>
    </div>
</body>
</html>
